@import '../../../styles/mixins';

.card-film-full {
  max-width: 984px;
  display: flex;
  justify-content: center;

  &-details {
    margin-left: 120px;

    p {
      @include font($size: 1.6rem, $height: 1.896rem, $weight: 400);
    }

    &__title {
      @include font($size: 2rem, $height: 2.37rem);
    }

    &__countries,
    &__genres {
      @include font($size: 2rem, $height: 2.37rem, $weight: 400);
    }
  }
}
