@import '../../styles/variables';
@import '../../styles/mixins';

.button {
  padding: 9px 32px 10px;
  border: none;
  border-radius: 4px;
  background-color: $color-accent;
  color: $color-light;
  outline: none;
  transition: 150ms;
  cursor: pointer;
  @include font($size: 1.6rem, $height: 1.896rem);

  &:hover:not([type="submit"]) {
    background-color: $color-accent-active;
  }

  &--transparent {
    background-color: transparent;
    color: $color-accent;

    &:hover {
      color: $color-light;
    }
  }

  &:disabled {
    opacity: 0.9;
    cursor: not-allowed;
  }
}
