@import '../../styles/variables';
@import '../../styles/mixins';

.films {
  margin-bottom: 40px;

  &-new__title,
  &-genres__title {
    @include font($size: 2.4rem, $height: 2.844rem);
  }

  &-new__cards,
  &-genres__genres {
    position: relative;
    left: -$card-padding;
    max-width: $content-width + (2 * $card-padding);
    width: 100%;
    display: flex;

    &--empty {
      position: relative;
      left: 10px;
      @include font($size: 2rem, $height: 2.377rem, $weight: 400);
    }

    @include media-tablet {
      flex-wrap: wrap;
      justify-content: space-between;

      &:after {
        content: "";
        flex: 0 1 33.3%;
      }
    }

    @include media-mobile {
      flex-flow: column;
      align-items: center;
    }
  }
}
