@import '../../styles/variables';
@import '../../styles/mixins';

.films {
  margin-bottom: 40px;

  &-new__title,
  &-genres__title {
    @include font($size: 1.5rem, $height: 1.75rem);
  }

  &-new__cards,
  &-genres__genres {
    position: relative;
    left: -$card-padding;
    width: $content-width + (2 * $card-padding);
    display: flex;
  }
}
