$color-text: #333333;
$color-text-light: #f2f2f2;
$color-light: white;
$color-accent: #e5261e;
$color-accent-active: #cc221b;
$color-link: #1f4766;

$scrollbar-thumb-color: #bdbdbd;
$scrollbar-color: $color-text-light;

$bg-light: $color-text-light;

$card-padding: 10px;
$card-channel-padding: 8px;

$channel-height: 696px;

$content-width: 1180px;

$laptop-width: 1430px;
$tablet-width: 1220px;
$mobile-big-width: 730px;
