@import '../../../styles/variables';
@import '../../../styles/mixins';

.card-genre {
  padding: $card-padding;
  color: $color-light;
  user-select: none;
  opacity: 0.8;

  &-container {
    height: 208px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease-in-out;

    &:hover {
      filter: brightness(0.8);
      @media screen\0 {
        opacity: 0.8;
      }
    }

    &__emoji {
      padding: 32px;
      @include font($size: 4.8rem, $height: 5.688rem, $weight: 400);
    }

    &__genre {
      @include font($size: 2rem, $height: 2.377rem, $weight: 400);
    }
  }
}
